/**{
    border: 1px solid black;
}*/

main{
    margin: 10px;
}

html{
    height: 100%;
}

body {
    margin: 0em 5em;
}

img {
    height: 70%;
    width: 70%;
}

/* .jumbotron {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 4px solid black;
        
} */

header {
    margin: 5px;
    display: flex;
    background-color: rgb(202, 197, 197);
    flex-direction: column;
}


#formulario{
    position: relative;
    left: 15vw;
    width: 30%;
    border-left: 2px solid #000000;
    padding: 2em;
}

.logo {
    text-align: center;
    margin: 8px;
    padding: 0;
    width: 100%;
    height: 95%;
}

.menuprincipal {
    text-align: right;
    
    margin: 5px;
    background-color:rgb(202, 197, 197);
    height: 3rem;
}

.op_menu {
    margin: 10px;
}

.pantppl {
    margin: 5px;
}

/* .menu{
    border: 1px solid black;
    background-color: rgb(199, 194, 194);
    color: white;
    text-decoration: none;
    padding: 5px;
} */

.conjunto_1 {
    display: flex;
    overflow: hidden;
    
}

.conjunto_2 {
    display: flex;
    position: relative;
    top: 10vh;
    left: 10%;
    width: 60%;
}

footer {
    position: relative;
    bottom: 0px;
    text-align: center;
    background-color: rgb(4, 4, 153);
    color: white;
}



.back{

    margin: auto;
    margin-top: 15vh;
    text-decoration: none;
    padding: 10px;
    width: 150px;
    height: 20px;
    background-color: grey;
    text-align: center;
    
}

.back a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

#logoabout{

    display:block;
    margin:auto;
}

section{

    width: 50%;
    margin: auto;
    text-align: justify;
}

nav{
    display:block;
    margin:auto;
}

nav li{
    display:inline;
    margin:auto;
}

nav li a{

    text-decoration: none;
    padding: 1em;
    color: black;
    font-size: 30px;
    font-weight: bold;
    
}

li:nth-child(2){

    border-left: 2px solid black;
    border-right: 2px solid black;
}
nav li a:hover{
    
    font-size: 32px;
    
    color: aliceblue;
}
#btncontactenos{
    
    width: 120px;
    height: 30px;
    
}
#control_panel{

    border: 4px solid blue;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    
}

.img_adm{

    width: 150px;
    height: 150px;
}
figure {
    
    position: relative;
    top: 140px;
    padding: 4px;
    margin: auto;
    opacity: 0.5;
  }

figure:hover {
 
    opacity: 1;
  }

figcaption {
      
    background-color: black;
    color: white;
    padding: 2px;
    text-align: center;
    
  }

#control_panel a{
      text-decoration: none;
}

#findform{
      
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#areaedit{

    display: flex;
}

#contenedor_editar_employee{

    height: 80vh;
}

#selector{
    position: absolute;
    top: 250px;
}

#txtarea{

    position: relative;
    top: 50px;
}

.just{
    position: absolute;
    bottom: 0px;
    right: 0px;
    }

.just2{
    position: relative;
    top: 550px;
}