<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar empleado</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles2.css')}}">

    <script>
        function alerta(){

            const nombre="{{identificador}}";
            const error ="{{error}}"
            if (nombre){
                alert("se ha actualizado el registro del empleado con identificador: {{identificador}}")
            }
            else if (error){
                alert("No se ha encontrado registros asosiados")
            }
        }

        alerta()

    </script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{url_for('static', filename='media/logo.JPG')}}" alt="Logo">
        </div>
        <div class="menuprincipal">
            <nav>
                <a href="{{g.home_page}}" class="op_menu">Home</a>
                <a href="{{url_for('about')}}" class="op_menu">Nosotros</a>
                <a href="#" class="op_menu">Ingreso</a>
            </nav>
        </div>
    </header>
    <main id="contenedor_editar_employee">

        <div id="findform">
            <form action="{{url_for('findEdit')}}" method="post" >
                <table>
                    <tr>
                        <td>Buscar por Cedula</td><td><input type="number" name="findbyname" required autocomplete="off"></td><td><input type="submit" value="Buscar"></td>
                    </tr>
                </table>
            </form>
        </div>

        <form action="{{url_for('Edit')}}" method="post">
        <div id="img_profile" style="width: 24%; float: left; position: relative; left: 15vw; top: 10vh;">
            <img src="{{url_for('static', filename='media/foto perfil.jpg')}}" alt="Foto de perfil">
            <input type="button" name="search" value="Upload photo" style="position: absolute; bottom: -30px; left: 30%;">
        </div>

            <div class="conjunto_2">
            <table>
                    <div>
                    <tr>
                    <div style="display: inline; text-align: center;">
                        <td><p style="display: inline-block; margin: 1rem 3rem 0 4em;"><b>Nombre</b></p></td>
                        <td><input type="text" name="name" value="{{nombre}}"></td>
                    </div>
                    </tr>
                  
                    <tr>
                    <div style="display: inline; text-align: center;">
                        <td><p style="display: inline-block; margin: 1rem 3rem 0 4em;"><b>Identificador</b></p></td>
                        <td><input type="text" name="cedula" value="{{id}}" readonly id="cedula"></td>
                    </div>
                     </tr>
                    <tr>
                    <div style="display: inline; text-align: center;">
                        <td><p style="display: inline-block; margin: 1rem 3rem 0 4em;"><b>direccion</b></p></td>
                        <td><input type="address" name="direccion" value="{{direccion}}"></td>
                    </div>
                     </tr>
                     <tr>
                    <div style="display: inline; text-align: center;">
                        <td><p style="display: inline-block; margin: 1rem 3rem 0 4em;"><b>Telefono</b></p></td>
                        <td><input type="text" name="telefono" value="{{telefono}}"></td>
                    </div>
                    </tr>
                </div>
                </table>
                <table>

                        <div>
                            <tr>
                            <div style="display: inline; text-align: center;">
                                <td><p style="display: inline-block; margin: 1rem 3rem 0 4em;"><b>fecha inicio contrato</b></p></td>
                                <td><input type="text" name="inicio" value="{{inicio}}"></td>
                            </div>
                            </tr>
                            <tr>
                            <div style="display: inline; text-align: center;">
                                <td><p style="display: inline-block; margin: 1rem 3rem 0 4em;"><b>Serie Contrato</b></p></td>
                                <td><input type="text" name="contract" value="{{contrato}}" readonly></td>
                            </div>
                            </tr>
                            <tr>
                            <div style="display: inline; text-align: center;">
                                <td><p style="display: inline-block; margin: 1rem 3rem 0 4em;"><b>Fecha fin Contrato</b></p></td>
                                <td><input type="address" name="fin" value="{{fin}}"></td>
                            </div>
                            </tr>
                            <tr>
                            <div style="display: inline; text-align: center;">
                                <td><p style="display: inline-block; margin: 1rem 3rem 0 4em;"><b>Dependencia</b></p></td>
                                <td><input type="text" name="dependencia" value="{{dependencia}}"></td>
                            </div>
                            </tr>
                            <tr>
                            <div style="display: inline; text-align: center;">
                                <td><p style="display: inline-block; margin: 1rem 3rem 0 4em;"><b>Salario</b></p></td>
                                <td><input type="text" name="salario" value="{{salario}}"></td>
                            </div>
                            </tr>
                            
                        </div>

                        </div>
                </table>

            <div id="selector">
                        
                        Seleccione mes para feedback 
                            
                        <select name="Mes" id="selectmes">
                            <option value="enero">Enero</option>
                            <option value="febrero">Febrero</option>
                            <option value="marzo">Marzo</option>
                            <option value="abril">Abril</option>
                            <option value="mayo">Mayo</option>
                            <option value="junio">Junio</option>
                            <option value="julio">Julio</option>
                            <option value="agosto">Agosto</option>
                            <option value="septiembre">Septiembre</option>
                            <option value="octubre">Octubre</option>
                            <option value="noviembre">Noviembre</option>
                            <option value="diciembre">Diciembre</option>

                        </select>

                        <textarea name="txtarea" id="txtarea" cols="120" rows="10" placeholder="Feedback"></textarea>

            </div>

           <div class="just2">
                <input id="btnenvio" type="submit" value="Update">
            </div>
        </form>
    </main>
    
    <div class="back"><a  href="{{url_for('loginAdmin')}}">Back</a></div>

    <hr>

    

    <footer style="border: 2px solid black;">
        <h5>FOOTER</h5>
        <h5>Pie de pagina</h5>
        <p>logo</p>
        <p> &nbsp;&nbsp; &nbsp; Copyright © 2021 grupo #9</p>
    </footer>
    <script>

        
        let button = document.getElementById("btnenvio");
        button.disabled = true;
       
        function checkbtn() {
            let id = "{{id}}"
            if (id) {
                button.disabled = false; 
            } else {
                button.disabled = true;
                }
        }

        checkbtn()

    </script>
</body>
</html>